.footer {
  padding: 65px 0;
  background-color: var(--secondaryGray);
}

.wrapper {
  margin: 0 auto;
  max-width: var(--contentWidth);
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.copyright {
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}
