.blogCard {
  border-radius: 15px;
  background-color: var(--mainGray);
  overflow: hidden;
}

.dataWrapper {
  padding: 15px 12px;
}

.imgBox {
  position: relative;
  aspect-ratio: 4/2.25;
}

.img {
  object-fit: cover;
}

.date {
  display: block;
  color: var(--secondaryBlack);
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}
